﻿@model lesson51.Models.Order
@{
    ViewData["Title"] = "Create";
}

<h1>Create new Order</h1>

<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User" class="control-label"></label>
                <input asp-for="User" class="form-control" />
                <span asp-validation-for="User" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Address" class="control-label"></label>
                <input asp-for="Address" class="form-control" />
                <span asp-validation-for="Address" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ContactPhone" class="control-label"></label>
                <input asp-for="ContactPhone" placeholder="With +996" class="form-control" />
                <span asp-validation-for="ContactPhone" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label asp-for="PhoneId" class="control-label">Phone</label>
                <select asp-for="PhoneId" asp-items="ViewBag.Phones"class="form-control">
                </select>

                <span asp-validation-for="PhoneId" class="text-danger"></span>
            </div>

            


            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>