﻿@model lesson51.ViewModels.PageViewModel

<nav aria-label="...">
    <ul class="pagination">
        @if (Model.HasPreviousPage)
        {
            int prevPage = @Model.PageNumber - 1;
            <li class="page-item disabled">
                <a class="page-link" asp-action="Index" asp-route-page="@prevPage" tabindex="-1" aria-disabled="false">Previous</a>
            </li>
            for (int i = 1; i < Model.PageNumber; i--)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>
            }
        }
        <li class="page-item active" aria-current="page">
            <a class="page-link" href="#">@Model.PageNumber<span class="sr-only">(current)</span></a>
        </li>

        @if (Model.HasNextPage)
        {

            for (int i = Model.PageNumber + 1; i <= Model.TotalPages; i++)
            {
                <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@i">@i</a></li>

            }
            int nextPage = @Model.PageNumber + 1;
            <li class="page-item"><a class="page-link" asp-action="Index" asp-route-page="@nextPage">Next</a></li>
        }
    </ul>
</nav>


