﻿@model lesson51.Models.Phone



@{
    ViewData["Title"] = "Details";
}


<h1>Details</h1>

<div>
    <h4>Phone</h4>
    <h4></h4>
    <hr />
    <dl class="row">

        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.CompanId)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.CompanId)

        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Price)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Price)$
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.points)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.points)$
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.text)

        </dt>
        <dd class="col-xs-6">
            @Html.DisplayFor(model => model.text)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.backer)

        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.backer)
        </dd>
        @{
            int digitCount = (int)Math.Log10(Model.points) + 1;
            int result = Model.points / digitCount;
        }
        <a>Средняя оценка этого телефона равна @result</a>



    </dl>

</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
