﻿@model lesson51.Models.Phone

@{
    ViewData["Title"] = "MakeReview";
}

<h1>MakeReview</h1>

<h4>Phone</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="MakeReview">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="points" class="control-label">Points</label>
                <input asp-for="points" class="form-control" type="number" min="0" max="5"></input>
                <span asp-validation-for="points" class="text-danger"></span>
            </div>
            <div class="col-xs-6">
                <label asp-for="text" class="control-label"></label>
                <input asp-for="text" class="form-control" />
                <span asp-validation-for="text" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="backer" class="control-label"></label>
                <input asp-for="backer" class="form-control" />
                <span asp-validation-for="backer" class="text-danger"></span>
            </div>

            <div class="form-group">
                <input type="submit" value="Make Review" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}

